.box-element
{
    background-color: #fff;
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 4px;
    padding: 10px;
}

.product
{
    border-radius: 0 0 4px 4px;
    width: auto;
}

.thumbnail
{
    height: auto;
}

#cart-icon
{
    width:25px;
    margin-left: 15px;
    display: inline-block;
}

#racoon-icon
{
    width:40px;
}

.btn-warning
{
    padding: 5px 8px 5px 8px;
}

.btn
{
    border-radius: 0;
}

.cart-row
{
    display:  flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity
{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.row-image
{
    width: 100px;
}

.chg-quantity
{
    width: 12px;
    cursor: pointer;
    display: block;
    padding-top: 2px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12
{
	margin-top: 10px;
}

.visible>div
{
	display: block;
}

.form-field
{
    width: 250px;
    padding: 5px;
    display: inline-block;
}

#cart-total
{
    border-radius: 3px;
}

.hidden
{
    display: none !important;
}

#logged-as{
    color: white;
    padding-right: 2px !important;
}