.box-element
{
    background-color: #fff;
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 4px;
    padding: 10px;
}

.product
{
    border-radius: 0 0 4px 4px;
    width: auto;
}

.thumbnail
{
    width: 408px;
    height: auto;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

#cart-icon
{
    width:25px;
    margin-left: 15px;
    display: inline-block;
}

#racoon-icon
{
    width:40px;
}

.btn-warning
{
    padding: 5px 8px 5px 8px;
}

.col-lg-4
{
    margin-top: 10px;
}

.btn
{
    border-radius: 0;
}