{% extends 'ecommerce_app/main.html' %}
{% load static %}
{% block content %}
<div class="box-element mx-auto m-3 p-3 col-md-6 col-xl-5">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-grid gap-2 mx-auto col-10 col-xl-8">
        <input class="form-control mt-2 p-2" type="text" name="username" placeholder="Username">
        <input class="form-control mt-2 p-2" type="password" name="password" placeholder="Password">
        <button type="submit" class="btn btn-success mt-3 mb-2 p-2">Login</button>
        </div>
    </form>
</div>
<script>
    let loginBtn = document.getElementById('login-button');
    let cartIcon = document.getElementById('cart-icon');
    loginBtn.style.display = 'none';
    cartIcon.style.display = 'none';
</script>
{% endblock content %}