{% extends 'ecommerce_app/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4 p-2">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="product" style="width: 424px;" />
        <div class="box-element product">
            <h6 class="pt-2"><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right;"><strong>$33</strong></h4>
        </div>
    </div>
    <div class="col-lg-4 p-2">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="product" style="width: 424px;" />
        <div class="box-element product">
            <h6 class="pt-2"><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right;"><strong>$19</strong></h4>
        </div>
    </div>
    <div class="col-lg-4 p-2">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="product" style="width: 424px;" />
        <div class="box-element product">
            <h6 class="pt-2"><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right;"><strong>$27</strong></h4>
        </div>
</div>
{% endblock content %}