{% extends 'ecommerce_app/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4 p-2">
        <div class="box-element product">
            <img class="thumbnail" src="{{ product.imageURL }}" alt="product" style="width: 100%; box-shadow: none;" />
            <h6 class="pt-2"><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-success add-btn update-cart">Dodaj do Koszyka</button>
            <a class="btn btn-outline-secondary" href="#">Zobacz</a>
            <div class="pt-2 pe-2" style="text-align: right;"><h4><strong>{{product.price|floatformat:2}} zł</strong></h4></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}